<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://kit.fontawesome.com/f54afad4a3.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="app">
        <div v-for="slide" class="container">
            <div class="card">
                <img :src="slides[activeImage].image" alt="" :class="{ active:isActive }">
                <div class="card-body">
                    <h4 class="card-title">{{slides[activeImage].title}}</h4>
                    <p class="text">{{slides[activeImage].text}}.</p>
                </div>
            </div>
            <div class="thumbs">
                <img :src="slide.image" class="active" :class="[index === activeImage ? 'opacity' : '']" width=" 100"
                    alt="" v-for="(slide, index) in slides">


            </div>
        </div>
        <div class="controls">
            <div class="prev" @click="prev()" :class="opacity"> <i class="fa-solid fa-circle-chevron-left"></i></div>
            <div class="next" @click="next()" :class="opacity"> <i class="fa-solid fa-circle-chevron-right"></i></div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>